#social{
	background-color: #2F2F2F;
}
#banner{
	background-color: #FFFFFF;
}
#navbar{
	background-color: #34BAC9;
}
body{
	background-color: #FEFBF1;
}
.message{
	color: #FFFFFF;
}
.txt{
	text-align: center;
}
.txt-justify{
	text-align: justify;
	font-size: 16px;
}
.btn{
	background-color: #EE4674;
	color: #FFFFFF;
	width: 30%;
}
.pagination1{
	margin-top: 10%;
}
.border_top_color{
	border-top: thick solid #34BAC9;
}
.margin-top{
	margin-top: 5%;
	padding-bottom: 5%;
	padding-top: 3%;
}
.img-message{
	width: 100%;
	height: 400px;
}
.txt-size{
	font-size: 20px;
}
#top-txt{
	background-image: url("_img/woman_hands.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
@media only screen and (max-width: 480px){
	.btn{
		font-size: 12px; 
	}
}
